* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;  
  color: #525252;  
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: auto auto 450px; */
  grid-template-areas: 
  "header header"
  "notif notif"
  "summer pinkB"
  "yelloB yelloB";
}

header {
  grid-area: header;
  margin: 0.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #5F5F5F;
}

li {
  list-style: none;
}

li > a {
  padding-bottom: .45em;
  background:
  linear-gradient(
      to bottom, rgb(212, 189, 104) 0%,
      rgb(212, 189, 104) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

li > a:hover {
  background-size: 4px 50px;
  color: white;
}


ul {
  display: flex;
  justify-content: space-between;
}

nav {
  text-transform: uppercase;
  width: 30%;
}

#sale {
  color: rgb(250, 25, 25);
}

#sale:hover {
  background-size: 4px 50px;
  color: white;
}

.logo {
  cursor: pointer;
  margin: 0 30px;
}

.logo > img {
  width: 140px;
}


.search > input {
  padding: 5px 10px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.login {
  font-size: 0.75rem;
  cursor: pointer;
}

.login > img {
  width: 22px;
}

.login > a:hover {
  text-decoration: underline;
  color: silver;
}

.shopping-bag {
  cursor: pointer;
  font-size: 0.75rem;
}

.shopping-bag > img {
  width: 22px;
}

.shopping-bag a:hover {
  text-decoration: underline;
  color: silver;
}

.notification {
  grid-area: notif;
  font-family: 'Raleway';
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  background: #E7E7E7;
  padding: 0;
  margin-bottom: 0.6rem;
}

.notification > p {
  margin: 0.4rem;
}

.pink-box {
  background: #EEC2BD;
  text-transform: uppercase;
  grid-area: pinkB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pink-box > p {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: rgb(78, 78, 78);
  padding: 0 1rem 0 1rem;
  cursor: pointer;
}

.summer-shoes {
  grid-area: summer;
  max-height: 450px;
  cursor: pointer;
}

.btn {
  display: inline;
  font-family: 'Raleway';
  font-size: 0..7rem;
  cursor: pointer;
  padding: 0.5em;
  margin: 0.3em;
  border: 1px solid black;
  background: white;
  border-radius: 5px;  
  box-shadow: 2px 2px 4px 0px rgba(63, 63, 63, 0.75);
}

.btn:hover {
  box-shadow: 0 0 0;
  color: rgb(206, 180, 36);
}

.summer-shoes img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.yellow-bar {
  grid-area: yelloB;
  margin-top: 0.6rem;
  text-transform: uppercase;
  display: flex;
  justify-items: center;
  align-items: center;
  max-height: 396px;
  background: rgb(253, 180, 90); 
  color: white;
}

.title-box {
  width: 25%;
}

.title-box > p {
  font-size: 2em;
  margin: 1rem;
  line-height: 250%;
}

.lady-shoes {  
  width: 35%;
}

.lady-shoes > img {
  display: inline-block;
  object-fit: cover;
  /* max-height: 100%; */
  height: 100%;
  width: auto;
  max-width: 100%;
  vertical-align: bottom;
  
}

.fathersday {
  width: 40%;
  height: 396px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Raleway';
  font-size: 1.3rem;
}

.fathersday > img {
  display: block;
  object-fit: cover;
  width: auto;
  max-width: 100%;
  /* width: auto; */
  /* height: 80%; */
  /* height: auto; */
}

/* .top-p {
  margin-bottom: 1rem;
} */
 


